<footer
    class="fixed bottom-0 left-0 z-20 w-full p-4 bg-gray-100 border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6">
    <span class="text-sm text-gray-300 sm:text-center">© 2024 <a href="https://www.marconirovereto.it/"
            class="hover:underline">Marconi Rovereto</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-300 sm:mt-0">
        <li class="mr-4">
            <a routerLink="/about" (click)="servizio.cambiaStile(1)">About</a>
        </li>
        <li>
            <a href="https://www.marconirovereto.it/documenti/privacy-2">Privacy Policy</a>
        </li>
        <li>
    </ul>
</footer>