<app-navbar></app-navbar>
<div class="text-black leading-relaxed mt-24 mb-32 ml-24 mr-24">
    <div class="text-justify border-l-4 border-black-500 ml-56 mr-56 space-x-4 space-y-2 p-2">
        <h1 class="text-2xl font-bold text-left ml-4">CHI SIAMO?</h1>
        <div class="flow-root bg-white border-2 border-black rounded-lg p-4">
            Questo sito web è stato realizzato da <b>Serhii Kushnir e Mustafa Vugdalic</b>, studenti della
            classe 4^Ci dell'<b><a class="hover:text-red-500" href="https://www.marconirovereto.it/">Istituto
                    Tecnico
                    Tecnologico "Marconi"</a></b> di Rovereto.<br>
            Il nostro progetto si basa su un sito web che permette di visualizzare i dati relativi al Covid-19 in Italia.
            Nella pagina home
            è possibile visualizzare un grafico e diversi dati relativi alla situazione Covid-19 corrente e passata in
            Italia, mentre nella pagina overview è possibile
            visualizzare una mappa dell'Italia e cliccando su una regione è possibile visualizzare i dati attuali
            relativi a quella regione. <br>
            Il Progetto è stato realizzato in Angular, utilizzando il framework Tailwind CSS per la parte grafica, il
            framework Chart.js per la creazione del grafico e
            il database Firebase per il salvataggio dei dati.
        </div>
    </div>
    <app-footer></app-footer>